<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.steamitemwatcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainList"
            android:label="@string/title_activity_mainlist"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.MainActivity" />
        </activity>
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.MainActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.MainActivity" />
        </activity>
        <activity
            android:name=".DeleteItem"
            android:label="@string/title_activity_delete_item"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.MainActivity" />
        </activity>
        <activity
            android:name=".HistoricalList"
            android:label="@string/title_activity_historical_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.MainActivity" />
        </activity>
        <activity
            android:name=".DataDump"
            android:label="@string/title_activity_data_dump"
            android:parentActivityName=".HistoricalList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.HistoricalList" />
        </activity>
        <activity
            android:name=".AddItemSearchList"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".AddItem" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.steamitemwatcher.AddItem" />
        </activity>
        
        <receiver android:name="com.example.steamitemwatcher.DailyReceiver" />
        <receiver android:name=".DailyBootReceiver"
        	android:enabled="false">
    		<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"></action>
    		</intent-filter>
		</receiver>
        <service  android:name="com.example.steamitemwatcher.PriceRecordingService" />
    </application>

</manifest>
